$menuSideWidthCollapse: 64px;

$menuHeaderHeight: 64px;

$headerTriggerMinPadding: 0 12px;

$menu-dark-title: #191a23;

$transition-time: 0.2s;

$ease-in-out: ease;

$trigger-background: #f8f8f9;

// 侧边菜单宽度
$menuSideWidth: 256px;

@import 'layout.scss';
