#app,
body,
html {
	height: 100%;
}
body {
	background-color: #f7f7f7;
	font-size: 14px;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	vertical-align: middle;
}
// 隐藏滚动条
.e-scrollbar-hide::-webkit-scrollbar {
	width: 0;
}
.e-scrollbar-hide::-webkit-scrollbar-track {
	background-color: transparent;
}
.e-scrollbar-hide::-webkit-scrollbar-thumb {
	background: #e8eaec;
}

// 极简滚动条样式
.e-scrollbar {
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: #808695;
		border-radius: 4px;
	}
}

.g-content-body {
	padding: 16px;
	background: #fff;
	border-radius: 4px;
}

.g-point {
	cursor: pointer;
}

.g-vertical {
	vertical-align: middle;
}

.g-action {
	span {
		margin: 0 8px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			border-right: 1px solid rgb(232, 234, 236);
			height: 100%;
			right: -5px;
			top: 0;
			bottom: 0;
		}
	}
	span:last-child {
		&::after {
			border: none;
		}
	}
}
.g-pagination__wrap {
	justify-content: center;
}
.el-mt-16 {
	margin-top: 16px !important;
}
.el-mr-16 {
	margin-right: 16px !important;
}
.el-mb-16 {
	margin-bottom: 16px !important;
}
.el-ml-16 {
	margin-left: 16px !important;
}

.el-mt-8 {
	margin-top: 8px !important;
}
.el-mr-8 {
	margin-right: 8px !important;
}
.el-mb-8 {
	margin-bottom: 8px !important;
}
.el-ml-8 {
	margin-left: 8px !important;
}

.el-text-center {
	text-align: center !important;
}
.el-text-left {
	text-align: left !important;
}
.el-text-right {
	text-align: right !important;
}
// icon
.g-svg-icon {
	width: 1.2em;
	height: 1.2em;
	vertical-align: -0.24em;
	fill: currentColor;
	overflow: hidden;
}
