@font-face {
  font-family: "iconfont"; /* Project id 3315602 */
  src: url('iconfont.svg?t=1649574906788#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e7d1";
}

.icon-delete-column:before {
  content: "\e793";
}

.icon-subtract:before {
  content: "\e87b";
}

.icon-menu-fold:before {
  content: "\e867";
}

.icon-menu-unfold:before {
  content: "\e868";
}

.icon-table:before {
  content: "\e728";
}

.icon-fullscreen:before {
  content: "\e803";
}

.icon-fullscreen-exit:before {
  content: "\e804";
}

.icon-arrow-down:before {
  content: "\e83d";
}

.icon-arrow-left:before {
  content: "\e842";
}

.icon-arrow-right:before {
  content: "\e844";
}

.icon-close:before {
  content: "\e84a";
}

.icon-dashboard:before {
  content: "\e84b";
}

.icon-arrow-up:before {
  content: "\e857";
}

.icon-information:before {
  content: "\e85f";
}

.icon-password:before {
  content: "\e860";
}

.icon-logout:before {
  content: "\e862";
}

.icon-refresh:before {
  content: "\e86c";
}

.icon-settings:before {
  content: "\e86e";
}

.icon-search:before {
  content: "\e86f";
}

.icon-user:before {
  content: "\e88c";
}

